header {
  display: flex;
  align-items: center;
  z-index: 1;
  postion: fixed;
  width: 100%
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

a {
  color: black;
}

header nav {
  padding-right: 40px;
}

.header_logo span {
  color: MediumAquaMarine;
}


.header_logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.header_logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content{
  display: flex;
}

.lead.story {
  border: 1px solid black;
}

.image.content {
  border: 1px solid black;
}

.pop-culture.image-content {
  border: 1px solid black;
}

.fall-cancelled.image-content{
  border: 1px solid black;
}

.story {
  border: 1px solid black;

}

.column.large {
  width: 630px;
  border: 1px solid black;
  flex-direction: column;
}

.column.medium {
  width: 300px;

}

.column.small {
  width: 240px;

}

div {
  border: 1px solid black;
}
